* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  flex: 0 0 auto;
  font-family: 微軟正黑體;
  text-align: center;
  margin: 10px auto;
}

.main_m {
  flex: 1 0 auto;
}

footer {
  background: rgb(124, 124, 124);
  flex: 0 0 auto;
  font-family: 微軟正黑體;
  text-align: center;
  color: antiquewhite;
  height: 5%;
}




@font-face {
  src:
    url("../fonts/AdobeFanHeitiStd-Bold2.otf"),
    url("../fonts/AdobeFanHeitiStd-Bold.woff") format('woff'),
    url("../fonts/AdobeFanHeitiStd-Bold.eot") format('embedded-opentype'),
    url("../fonts/AdobeFanHeitiStd-Bold.ttf") format('truetype');
  font-family: "one-title";
}

html {
  font-size: 16px;
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: one-title;
}


body {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;

}

.main,
.main2 {
  background-color: rgb(232, 231, 239);
  width: 50%;
  max-width: 680px;
  margin: 0 auto;
  border-radius: 3em;
  border: 8px solid rgb(50, 31, 106);
  text-align: center;
  overflow: hidden;
}

#img_index,
#img_sus {
  width: 50%;
  margin-top: 4rem;
}

.title,
.title2 {
  font-size: 2rem;
  color: rgb(50, 31, 106);
  font-weight: 800;
  font-family: 微軟正黑體, Arial, Helvetica, sans-serif;
}

.contant {
  margin: 18% 18%;
}

.btn {
  background-color: rgb(50, 31, 106);
  color: #ffffff;
  border-radius: 40px;
  font-size: 1.5rem;
  font-family: 微軟正黑體,
    "Nunito",
    sans-serif;
  text-decoration: none;
  box-shadow: 0 2px 3px 0 rgba(50, 31, 106, 0.67);
  outline: none;
  /* margin-bottom: 2rem; */
  border: none;
  cursor: pointer;
  padding: 2% 12%;
}

.btn:hover {
  transition: all .4s ease-in-out;
  box-shadow: 7px 7px 0 0 rgba(50, 31, 106, 0.47);

}

.Roundall {
  margin: 2rem auto;
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Round {
  width: 15px;
  height: 15px;
  border-radius: 50%;

  background-color: rgb(50, 31, 106);
}

.yellow {
  background-color: rgb(255, 212, 53);
}



/* ------------------------------- */
.painting {
  margin: 0 auto;
  width: 90%;
  height: 280px;
  border-radius: 50px;
  background-color: #f4f4f4;
  box-shadow: 2px 2px 10px 1px rgba(50, 31, 106, 0.753);
  margin-bottom: 2rem;
}

h2 {
  font-size: 2rem;
  font-family: 微軟正黑體, Arial, Helvetica, sans-serif;
  color: rgb(50, 31, 106);
  margin: 10px auto;
}

.btnall {
  width: 100%;
  margin: 7% auto 0;
  background-color: #ffffff;
  position: relative;
  padding: 10% 0;
}

.btnall::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 37.5px 35px 37.5px;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  /* top: -10%; */
  left: 6%;

  margin-top: -15%;
  margin-left: 39%;
}

#answer {
  outline: none;
  padding: 5px;
  width: 90%;
  text-align: center;
  color: #ffffff;
  background-color: rgb(50, 31, 106);
  border: none;
  line-height: 2;
  border-radius: 20px;
  font-size: 2rem;
  color: #ffffff;

}

#second {
  outline: none;
  padding: 3px;
  width: 30%;
  text-align: center;
  color: #ffffff;
  background-color: rgb(50, 31, 106);
  border: none;
  line-height: 1;
  border-radius: 20px;
  font-size: 1rem;
  color: #ffffff;

}

.btns {
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin: 10% auto 0px;
}

.correct,
.Explanation {
  width: 45%;
  border: none;
  line-height: 2;
  font-family: 微軟正黑體,
    Arial,
    Helvetica,
    sans-serif;
  font-size: 2rem;
  border-radius: 50px;
  outline: none;
}

.correct {
  background-color: rgb(255, 212, 53);
  color: black;
  cursor: pointer;
}

.Explanation {
  background-color: rgb(242, 48, 53);
  color: #ffffff;
  cursor: pointer;
}

.starall {
  margin: 2rem auto;
  width: 70%;
  /* line-height: 2; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(50, 31, 106);
  border-radius: 50px;
}

.star {
  font-size: 2rem;
  color: rgb(252, 252, 252);
}

.staryellow {
  color: rgb(255, 212, 53);
}

/* -------------success---------------- */
.main2 {
  width: 100%;
  background: url(../images/design\ web-09.png) no-repeat rgb(233, 231, 239);
  background-size: 100% auto;
}

.title2 {
  /* border: 1px solid  red; */
  margin: 55px 40px;
  background: url(../images/design\ web-08.png) no-repeat center;
  background-size: 51% auto;
  padding: 11% 0;
}

::placeholder {
  color: rgb(182, 182, 182);
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(182, 182, 182);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(182, 182, 182);
}

/* --------RWD---------------- */
@media all and (max-width:767px) {
  html {
    font-size: 14px;
  }



  .main,
  .main2 {

    width: 90%;
  }

  .painting {
    margin: 0 auto;
    width: 95%;
    min-height: 100px;
    border-radius: 30px;
    background-color: #f4f4f4;
    box-shadow: 1px 1px 8px 1px rgba(50, 31, 106, 0.753);
    margin-bottom: 1rem;
  }

  .title2 {
    background-size: 62% auto;
  }
}

@media all and (max-width:414px) {
  h2 {
    margin: 3% 0;
    font-size: 1.6rem;
  }

  .painting {
    height: 32vh;
  }

  input,
  .correct,
  .Explanation {
    font-size: 1.2rem;
  }

  .star {
    font-size: 1.2rem;
  }

  .btnall {
    padding: 6% 0;
  }

  .btnall::before {
    margin-top: -12%;
    /* margin-left: 36%; */
    border-width: 0 26px 25px 26px;
  }

  .starall {
    margin: 1rem auto;
  }

}

#cav {
  margin: 0 auto;
  width: 90%;
  display: block;
  /* margin: 50px auto 10px; */
  cursor: url(https://s4.postimg.org/3zg49nwvh/pencil_tiny.png), crosshair;
  border-radius: 50px;
  background-color: #f4f4f4;
  box-shadow: 2px 2px 10px 1px rgba(50, 31, 106, 0.753);
  margin-bottom: 2rem;
}

#bk {
  position: relative;
  margin: 20px auto;
  width: 600px;
  height: 10px;
}

.bk {
  margin: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
  display: inline-block;
  border: 2px solid #fff;
  cursor: pointer;
  border-radius: 50px;
}

.bk.active {
  border: 2px dotted gray;
}

.btn-clear {
  top: 50px;
  cursor: pointer;
  margin: 10px auto;
}

select {

  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}


/* arrows */

select.classic {
  background-image:
    linear-gradient(45deg, transparent 50%, blue 50%),
    linear-gradient(135deg, blue 50%, transparent 50%),
    linear-gradient(to right, skyblue, skyblue);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}

select.classic:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, gray, gray);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

#answer::-webkit-input-placeholder {
  font-family: 微軟正黑體;
  font-size: 2rem;
}

#second::-webkit-input-placeholder {
  font-family: 微軟正黑體;
  font-size: 1rem;
}